* {
  margin: 0px;
  padding: 0px;
}
.header {
  height: 75px;
  width: 100%;
  display: flex;
  background-color: #00a9ff;
}

.header img {
  height: 60px;
  width: 60px;
  margin: 5px 20px;
}
.heading {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(251, 251, 251);
  margin-top: 25px;
  text-transform: uppercase;
}
